@import '../../../common/stylus/mixins.styl'
.footer-guide
  top-border-1px(#f4f4f4)
  width 100%
  height  1.7rem
  position fixed
  left 0
  bottom 0
  display flex
  background #FAFAFA
  >span
    display flex
    flex-direction column
    align-items center
    justify-content center
    flex 1
    color #666
    &.active
      color #D4878A

    >i
      font-size 0.8rem
      margin-bottom 0.1rem
    >span
      font-size 0.6rem



