.main {
  width: 100%;
  margin-bottom: 1.7rem;
  overflow: hidden;
}
.main >.newsWarp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.main >.newsWarp >.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.main >.newsWarp >.close-button {
  position: fixed;
  right: 0.6rem;
  top: 1.2rem;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  background-image: url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/modalClose-9365f12572.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1.2rem;
  height: 1.2rem;
}
.main >.newsWarp >.detail-wapr {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.main >.newsWarp >.detail-wapr >.content {
  width: 12rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 0.6rem 0.48rem;
}
.main >.newsWarp >.detail-wapr >.content >.xinren {
  font-size: 0.8rem;
  text-align: center;
}
.main >.newsWarp >.detail-wapr >.content >.xinren >.title {
  display: inline-block;
  position: relative;
  font-weight: 700;
}
.main >.newsWarp >.detail-wapr >.content >.xinren >.title::before,
.main >.newsWarp >.detail-wapr >.content >.xinren >.title::after {
  width: 0.53333rem;
  height: 0.05333rem;
  background-color: #333;
  position: absolute;
  top: 0.37333rem;
  content: '';
}
.main >.newsWarp >.detail-wapr >.content >.xinren >.title::before {
  left: -0.74667rem;
}
.main >.newsWarp >.detail-wapr >.content >.xinren >.title::after {
  left: 2.88rem;
}
.main >.newsWarp >.detail-wapr >.content >.subTitle {
  margin-top: 0.9rem;
  font-size: 0.55rem;
  text-align: center;
}
.main >.newsWarp >.detail-wapr >.content >.newItem {
  margin-top: 0.66667rem;
  background-color: #f4f4f4;
  border-radius: 0.05333rem;
  height: 5rem;
  width: 100%;
  display: flex;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.imgWarp >img {
  width: 5rem;
  height: 5rem;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.text {
  margin-left: 0.6rem;
  flex: 1;
  padding: 0.57333rem 0;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.text >.name {
  font-size: 0.55rem;
  width: 3.73333rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.text >.manu {
  margin-top: 0.2rem;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.text >.manu >span {
  border: 1px solid #7f7f7f;
  border-radius: 0.05333rem;
  padding: 0 0.3rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.55rem;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.text >.price {
  margin-top: 0.26667rem;
  font-size: 0.55rem;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.text >.price >.nowPrice {
  color: #b4282d;
}
.main >.newsWarp >.detail-wapr >.content >.newItem >.text >.price >.originPrice {
  color: #999;
  display: inline-block;
  margin-left: 0.6rem;
  text-decoration: line-through;
}
.main >.newsWarp >.detail-wapr >.content >.actCouponBtn {
  height: 1.5rem;
  background-color: #b4282d;
  color: #fff;
  font-size: 0.55rem;
  margin-top: 0.53333rem;
  border-radius: 0.05333rem;
  text-align: center;
  line-height: 1.5rem;
}
.main >.newsWarp >.detail-wapr >.content >.checkMore {
  height: 1.5rem;
  border: 2px solid #7f7f7f;
  border-radius: 0.05333rem;
  text-align: center;
  line-height: 1.17333rem;
  font-size: 0.55rem;
  margin-top: 0.32rem;
  display: block;
  color: #333;
}
.main .fixed-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.main .fixed-content .header-title {
  background: #fff;
  width: 100%;
  height: 1.5rem;
  padding: 0.25rem 0.5rem 0;
}
.main .fixed-content .header-title >span {
  width: 3.6rem;
  display: inline-block;
  font-size: 0.72rem;
  font-family: '楷体';
  font-weight: bold;
}
.main .fixed-content .header-title >input {
  width: 11rem;
  height: 1.2rem;
  font-size: 0.6rem;
  background: #ededed;
  border-radius: 0.2rem;
  box-sizing: border-box;
  padding-left: 3rem;
}
.main .fixed-content .header-title >i {
  position: absolute;
  top: 18%;
  left: 40%;
  font-size: 0.7rem;
}
.main .fixed-content .category-nav {
  width: 16rem;
  font-size: 0.6rem;
  background: #fff;
  margin-bottom: 0.15rem;
}
.main .fixed-content .category-nav .better-container {
  padding: 0 0.8rem;
  display: flex;
}
.main .fixed-content .category-nav .better-container >li {
  padding: 0.46rem;
  white-space: nowrap;
}
.main .fixed-content .category-nav .better-container >li.on {
  color: #b4282d;
  border-bottom: 0.02rem solid #b4282d;
}
.main .good-serve {
  width: 100%;
  height: 1.5rem;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4rem;
}
.main .good-serve li {
  flex: 1;
  text-align: center;
}
.main .good-serve li >i {
  font-size: 0.6rem;
  transform: scale(0.1);
  color: #b4282d;
}
.main .good-serve li >span {
  font-size: 0.6rem;
  color: #666;
}
.main .tagList {
  width: 100%;
  background: #fff;
  margin-bottom: 0.4rem;
}
.main .tagList .list-header {
  width: 100%;
  height: 2.1rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 0.7rem;
}
.main .tagList .list-header >i {
  font-size: 0.7rem;
  color: #666;
  margin-left: -8px;
}
.main .tagList .list-content {
  width: 100%;
  height: 10rem;
  padding: 0 0.5rem;
  margin-bottom: 0.2rem;
}
.main .tagList .list-content >li {
  width: 46%;
  height: 48%;
  float: left;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
  position: relative;
  background: #f4f4f4;
}
.main .tagList .list-content >li >img {
  width: 100%;
  height: 100%;
}
.main .tagList .list-content >li .detail {
  position: absolute;
  top: 7%;
  left: 5%;
  display: flex;
  flex-direction: column;
  font-size: 0.55rem;
  color: #333;
}
.main .tagList .list-content >li .detail >span {
  margin-bottom: 0.3rem;
}
.main .tagList .list-content >li .detail >div {
  width: 1rem;
  height: 0.5rem;
  color: #bcaa87;
  border: 2px solid #bcaa87;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.5rem;
  border-radius: 4px;
}
.main .newList {
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.main .newList .top {
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../images/new.png");
}
.main .newList .top .text {
  font-size: 0.8rem;
  color: #9eb0c3;
  margin-bottom: -1.8rem;
}
.main .newList .top .btn-watch {
  width: 5.4rem;
  height: 1.2rem;
  background-color: #d8e5f1;
  border: 0;
  outline: none;
  font-size: 0.6rem;
  color: #9eb0c3;
}
.main .newList .top .btn-watch >i {
  font-size: 0.5rem;
  color: #9eb0c3;
  margin-left: -4px;
}
.main .newList .scroll-container {
  width: 100%;
  height: 10.25rem;
}
.main .newList .scroll-container ul {
  height: 414px;
  display: flex;
}
.main .newList .scroll-container ul >li {
  width: 6rem;
  height: 100%;
  padding-left: 0.6rem;
  padding-top: 0.6rem;
  position: relative;
}
.main .newList .scroll-container ul >li .isSelect {
  position: absolute;
  top: 9%;
  left: 12%;
  padding: 0.12rem;
  border: 2px solid #b4a078;
}
.main .newList .scroll-container ul >li .isSelect >div {
  font-size: 0.4rem;
  color: #b4a078;
  text-align: center;
}
.main .newList .scroll-container ul >li >img {
  width: 100%;
  height: 6rem;
  margin-bottom: 0.3rem;
}
.main .newList .scroll-container ul >li .item-desc {
  font-size: 0.6rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.4rem;
}
.main .newList .scroll-container ul >li .new-item {
  font-size: 0.55rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7f7f7f;
}
.main .newList .scroll-container ul >li >span {
  color: #b4282d;
}
.main .newList .scroll-container ul >li .discount {
  padding: 0 0.25rem;
  background: #f48f18;
  line-height: 0.7rem;
  text-align: center;
  margin-left: 0.3rem;
  color: #fff;
  font-size: 0.45rem;
}
.main .popular-items {
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.main .popular-items .top {
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../images/host.png");
}
.main .popular-items .top .text {
  font-size: 0.8rem;
  color: #9eb0c3;
  margin-bottom: -1.8rem;
}
.main .popular-items .top .btn-watch {
  width: 5.4rem;
  height: 1.2rem;
  background-color: #f4e9cb;
  border: 0;
  outline: none;
  font-size: 0.6rem;
  color: #9eb0c3;
}
.main .popular-items .top .btn-watch >i {
  font-size: 0.5rem;
  color: #9eb0c3;
  margin-left: -4px;
}
.main .popular-items .scrolls-container {
  width: 100%;
  height: 10.25rem;
}
.main .popular-items .scrolls-container ul {
  height: 414px;
  display: flex;
}
.main .popular-items .scrolls-container ul >li {
  width: 6rem;
  height: 100%;
  padding-left: 0.6rem;
  padding-top: 0.6rem;
}
.main .popular-items .scrolls-container ul >li.last {
  width: 6rem;
  height: 100%;
}
.main .popular-items .scrolls-container ul >li.last >div {
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  border: 4px solid #f4f4f4;
  text-align: center;
}
.main .popular-items .scrolls-container ul >li >img {
  width: 100%;
  height: 6rem;
}
.main .popular-items .scrolls-container ul >li .item-desc {
  font-size: 0.6rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.4rem;
}
.main .popular-items .scrolls-container ul >li .new-item {
  font-size: 0.55rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7f7f7f;
}
.main .popular-items .scrolls-container ul >li >span {
  color: #b4282d;
}
.main .popular-items .scrolls-container ul >li .discount {
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  margin-top: 0.3rem;
  color: #fff;
  font-size: 0.45rem;
  display: flex;
}
.main .popular-items .scrolls-container ul >li .discount .right {
  background: #f48f18;
  margin-left: 0.2rem;
  padding: 0 0.2rem;
}
.main .popular-items .scrolls-container ul >li .discount .left {
  background: #e5686d;
  padding: 0 0.2rem;
  margin-left: 0.3rem;
}
.main .main_timeLimit {
  width: 100%;
  height: 6.83rem;
  background: #fff;
  padding: 0.64rem 0;
}
.main .main_timeLimit .timeLimit_content {
  width: 13.87rem;
  height: 100%;
  margin: 0 1.07rem;
}
.main .main_timeLimit .timeLimit_content .left {
  float: left;
  width: 7.04rem;
  height: 100%;
}
.main .main_timeLimit .timeLimit_content .left .timeLimit {
  font-size: 0.853rem;
  padding-top: 1.493rem;
  letter-spacing: 0.213rem;
}
.main .main_timeLimit .timeLimit_content .left .time {
  margin: 0.7rem 0;
}
.main .main_timeLimit .timeLimit_content .left .time span {
  display: inline-block;
  width: 1.323rem;
  height: 1.19rem;
  line-height: 1.19rem;
  text-align: center;
  background: #444;
  border-radius: 6px;
  color: #fff;
}
.main .main_timeLimit .timeLimit_content .left .other {
  font-size: 0.512rem;
}
.main .main_timeLimit .timeLimit_content .right {
  float: left;
  width: 6.83rem;
  height: 6.83rem;
  position: relative;
}
.main .main_timeLimit .timeLimit_content .right img {
  width: 100%;
  height: 100%;
}
.main .main_timeLimit .timeLimit_content .right .price {
  width: 1.71rem;
  height: 1.71rem;
  line-height: 0.768rem;
  border-radius: 100%;
  font-size: 0.512rem;
  text-align: center;
  background: #f59524;
  color: #fff;
  position: absolute;
  right: 0.64rem;
  bottom: 0.64rem;
}
.main .main_timeLimit .timeLimit_content .right .price span {
  text-decoration-line: line-through;
}
.main .main_welfare {
  margin-top: 0.43rem;
  width: 100%;
  height: 6.4rem;
  margin-bottom: 0.6rem;
}
.main .main_welfare img {
  width: 100%;
  height: 100%;
}
.main .main_brand {
  width: 100%;
  background: #fff;
  margin-bottom: 0.4rem;
}
.main .main_brand .list-header {
  width: 100%;
  height: 2.1rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 0.7rem;
}
.main .main_brand .list-header >i {
  font-size: 0.7rem;
  color: #666;
  margin-left: -8px;
}
.main .main_brand .main_proSelect {
  width: 100%;
  height: 9.69rem;
  background: #fff;
  margin-bottom: 0.43rem;
}
.main .main_brand .main_proSelect ul {
  display: flex;
}
.main .main_brand .main_proSelect ul li {
  width: 12.02rem;
  margin-left: 0.64rem;
}
.main .main_brand .main_proSelect ul li >img {
  width: 100%;
  height: 6.83rem;
}
.main .main_brand .main_proSelect ul li .text {
  margin: 0.43rem 0;
  display: flex;
  justify-content: space-between;
}
.main .main_brand .main_proSelect ul li .text .describe {
  font-size: 0.6rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .main_brand .main_proSelect ul li .text .price {
  font-size: 0.6rem;
  color: #b4282d;
}
.main .main_brand .main_proSelect ul li .content {
  font-size: 0.6rem;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .msite_cartList {
  width: 100%;
}
.main .msite_cartList .item {
  width: 100%;
  background: #fff;
  margin-bottom: 0.4rem;
}
.main .msite_cartList .item .item_header {
  width: 100%;
  height: 2.56rem;
  line-height: 2.56rem;
  text-align: center;
  font-size: 0.6rem;
}
.main .msite_cartList .item .item_list {
  width: 100%;
  overflow: hidden;
}
.main .msite_cartList .item .item_list .lists {
  float: left;
  margin-left: 0.38rem;
  width: 7.38rem;
  position: relative;
}
.main .msite_cartList .item .item_list .lists .isSelect {
  position: absolute;
  top: 3%;
  left: 4%;
  padding: 0.12rem;
  border: 2px solid #b4a078;
}
.main .msite_cartList .item .item_list .lists .isSelect >div {
  font-size: 0.4rem;
  color: #b4a078;
  text-align: center;
}
.main .msite_cartList .item .item_list .lists img {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.main .msite_cartList .item .item_list .lists .Introduction {
  width: 6.95rem;
  height: 1.49rem;
  line-height: 1.49rem;
  background: #f1ece2;
  color: #9f8a60;
  font-size: 0.55rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.main .msite_cartList .item .item_list .lists .sale {
  width: 100%;
  margin: 0.34rem 0;
}
.main .msite_cartList .item .item_list .lists .sale .sale_list {
  display: inline-block;
  height: 0.85rem;
  line-height: 0.85rem;
  text-align: center;
  font-size: 0.42rem;
  color: #fff;
  padding: 0 10px;
  border-radius: 6px;
}
.main .msite_cartList .item .item_list .lists .sale .sale_list.red {
  background: #e5686d;
}
.main .msite_cartList .item .item_list .lists .sale .sale_list.orange {
  background: #f48f18;
}
.main .msite_cartList .item .item_list .lists .describe {
  width: 100%;
  font-size: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.341rem;
}
.main .msite_cartList .item .item_list .lists .price {
  width: 100%;
  font-size: 0.68rem;
  color: #b4282d;
}
.main .msite_cartList .item .item_list .lists.blank {
  width: 7.25rem;
  height: 8.833rem;
  background: #f4f4f4;
  font-size: 0.68rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main .msite_cartList .item .item_list .lists.blank .text {
  text-align: center;
  color: #333;
}
.main .msite_cartList .item .item_list .lists.blank >i {
  font-size: 1.5rem;
  color: #7e8c8d;
  margin-top: -4.5rem;
}
